.container {
    text-align: center;
}

.title {
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    color: #26ffcb;
    padding: 0 12px;
}

.reset {
    width: 180px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #F5FEFD;
    font-size: 24px;
    color: #26ffcb;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxes {
    display: flex;
    height: 160px;
    width: 160px;
    background: #F5FEFD;
    border: 4px solid #F0EEE4;
    border-radius: 12px;
    cursor: pointer;
}

.board {
    height: 520px;
    width: 520px;
    display: flex;
    margin: auto;
}

.boxes img {
    margin: 40px;
}

.title img {
    padding: 20px 10px;
    height: 50px;
    margin-top: 15px;
}

/* Media query for phone devices */
@media screen and (max-width: 600px) {
    .title {
        font-size: 35px;
    }

    .reset {
        width: 140px;
        height: 50px;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .boxes {
        height: 100px;
        width: 100px;
        margin: 5px;
    }

    .board {
        height: auto;
        width: auto;
        display: flex;
    }

    .title img {
        height: 40px;
        margin-top: 10px;
    }
}